.profile-tile{
    width:100%;
    box-sizing:border-box;
    .padd-all;

    .btn-group a{
        color: #515151;
        z-index:2;
        font-size:14px;

        &:hover{
            color:white;
        }
    }
}