
.timeline {
    position: relative;
    padding-bottom: 40px;
    background-color: rgb(231, 235, 238);
    color: rgb(81, 81, 81);
    padding-right:20px;

}
.timeline:before, .timeline:after {
    background-color: rgb(202, 211, 223);
    bottom: 20px;
    content: "";
    display: block;
    position: absolute;
}
.timeline:after {
    left: 47px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.timeline:before {
    left: 49px;
    top: 20px;
    width: 2px;
}



.timeline .timeline-header:first-child {
    margin-bottom: 30px;
    margin-top: 15px;
}

.timeline-header {
    border-radius: 0;
    clear: both;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
}

.timeline-header .timeline-header-title {
    display: inline-block;
    text-align: center;
    padding: 7px 15px;
    min-width: 100px;
}
.bg-info, .bg-info a {
    color: rgb(255, 255, 255);
}
.bg-info {
    background-color: rgb(78, 188, 218);
}


.timeline-entry {
    margin-bottom: 50px;
    margin-top: 5px;
    position: relative;
    clear: both;
}

.timeline-stat {
    width: 100px;
    float: left;
    text-align: center;
    padding-bottom: 15px;
}

.timeline-icon:empty {
    height: 10px;
    width: 10px;
    margin-top: 20px;
    background-color: rgb(164, 180, 199);
}
.timeline-icon {
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgb(231, 235, 238);
    display: block;
    margin: 0 auto;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 46px;
}

.timeline-time {
    display: inline-block;
    padding: 5px 3px 7px;
    margin-top: 3px;
    background-color: rgb(231, 235, 238);
    color: rgb(132, 132, 132);
    font-size: .85em;
    max-width: 70px;
}


.timeline-label {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    margin-left: 90px;
    padding: 10px;
    position: relative;
    min-height: 50px;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0 2px 0 rgba(0,0,0,0.05);
}
.timeline-label:before {
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgb(230, 230, 230);
    margin: 15px 0 0 -10px;
}
.timeline-label:before, .timeline-label:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}
.timeline-label:after {
    border-top: 9px solid rgba(0, 0, 0, 0);
    border-bottom: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgb(255, 255, 255);
    margin: 15px 0 0 -8px;
}

.pad-btm {
    padding-bottom: 15px;
}

.mar-no {
    margin: 0 !important;
}


.bq-sm {
    font-size: 12px;
}


.bq-open:before {
    color: rgba(0,0,0,0.3);
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -0.4em;
}


.bg-purple, .bg-purple a {
    color: rgb(255, 255, 255);
}
.bg-purple {
    background-color: rgb(152, 98, 145);
}
.bg-warning {
    background-color: rgb(235, 170, 75);
}
.bg-warning, .bg-warning a {
    color: rgb(255, 255, 255);
}
.bg-mint, .bg-mint a {
    color: rgb(255, 255, 255);
}
.bg-mint {
    background-color: rgb(80, 199, 167);
}
