<template>
  <div id ='gen'>
    <!-- <h1>USSD Page Generator    <span> v1.0</span></h1>  -->

     <div class ='col-md-3 phone-preview '>
        <dialler/>
    </div>

    <div class="col-md-6 panel generator-wrapper">

      <h1>Page Generator</h1>
      <p>
      A page is just but a page and nothing more if its only a page that does nothing more than being a page along with other pages</p>

      <ul class="list-group pages col-md-6">
        <draggable v-model="todos" :options="{group:'people'}" @start="drag=true" @end="drag=false">  
          <transition-group>
            <li class="list-group-item" v-for="element in todos" :key="element.id">
              {{element.name}} 
              <span class = 'handle' @click='alertMyName()'>
                <span class = 'box'></span>
                
              </span>
              <span class = 'actions'>
                <i class = 'material-icons'>close</i>
                <i class = 'material-icons'>add</i>
                <i class = 'icon-layers'></i>
              
              </span>
            </li>
          </transition-group>
        </draggable>
    </ul>

    </div>
    
    
    
  </div>
</template>

<script>

  // import SortableList from '../components/sortable/SortableList'
  // import SortableItem from '../components/sortable/SortableItem'
  import draggable from 'vuedraggable'
  import dialler from '../components/phone/Dialler'

  export default {
    name : 'generator',
    data : () => {
      return {
        todos : [
          { 
            id : 1,
            name: 'Account Enquiries'
          },
          { 
            id : 2,
            name: 'Funds transfer'
          },
          { 
            id : 3,
            name: 'Loans'
          },
          { 
            id : 4,
            name: 'Pay Bills'
          },
          { 
            id : 5,
            name: 'Withdrawal'
          },
          { 
            id : 6,
            name: 'Atm'
          },
          { 
            id : 7,
            name: 'Cheque'
          },
          { 
            id : 8,
            name: 'Mpesa Cash Deposit'
          },
          { 
            id : 9,
            name: 'Buy Airtime'
          },
          { 
            id : 10,
            name: 'Settings'
          }
        ]
      }
    },
    components : {
      draggable,
      dialler
      // SortableList,
      // SortableItem
    },
    methods :{
      alertMyName () {
        // alert ( 'My name is Slim Shady' )
      }
    }

  }

</script>


<style type = "text/less" scoped>
    .panel {
      background:none;
    }

    .generator-wrapper {
      width:60%;
    }
    ul {
      font-family:DejaVu
    }
    #gen {
      text-align:left;
      margin:3% 0% 0% 5%
    }
    h1 {
      font-size:24px;
      font-family:Arial;
      font-weight:lighter;
      letter-spacing:-1px;
      margin:10px 0
    }
    h1 span {
      letter-spacing:2px
    }
    .phone-preview {
      width: 280px;
      height:480px;
      box-shadow        : 0 3px 10px -2px rgba(0,0,0,.02),0 2px 2px 0 rgba(0,0,0,.04),0 10px 5px 0 rgba(0,0,0,.02);    
      overflow:hidden;      
      /* border-radius:5px; */
      margin-right:40px
    }
    ul {
      overflow:hidden;
      box-sizing: border-box;
      width:550px;
      padding:0; 
      
    }
    li {
      box-sizing: border-box;
      padding-left:60px;
      margin-bottom:1px;
      border:none;
      letter-spacing:1px;
      text-transform:uppercase;
      letter-spacing:1px;
      font-size:10px;
      cursor:s-resize
    }
    .handle {
      position    : absolute;
      left        : 0px;
      margin-right: 10px;
      top         : 0px;
      height      : 100%;
      width       : 40px;
      background  : rgba(0,0,0,.01);
      
    }
    .actions {
      position    : absolute;
      right        : 0px;
      top         : 0px;
      height      : 100%;
      width       : auto;
      padding:0px 10px;
      background  : rgba(0,0,0,.01);
    }
    .actions i {
      position:relative;
      float:right;
      width:20px;
      height:100%;
      margin: 10px 5px;
      padding-top:0px;
    }
    i {
      font-size:14px;
      cursor:pointer;
    }
    .box{
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      width:15px;
      height:15px;
      background:rgba(255,255,255,.8);
      border: 1px solid rgba(0,0,0,.05)
    }
</style>