<template>
  <div id = 'prev'>
    <!-- <h1>USSD Preview</h1> -->
    <div class ='phone-preview'>
        <dialler/>
    </div>
  </div>
</template>

<script>

  import dialler from '../components/phone/Dialler'

  export default {
    name : 'preview',
    data : () => {
      return {
      }
    },
    components : {
      dialler
    },
    methods :{
    }

  }

</script>


<style type = "less" scoped>

    #prev {
      position:absolute;
      text-align:left;
      margin:3% 0% 0% 10%
    }
    h1 {
      font-size:24px;
      font-family:Arial;
      font-weight:lighter;
      letter-spacing:-1px;
      margin-left:15px
    }
    h1 span {
      letter-spacing:2px
    }
    .phone-preview {
      width: 280px;
      height:480px;
      box-shadow        : 0 3px 10px -2px rgba(0,0,0,.02),0 2px 2px 0 rgba(0,0,0,.04),0 10px 5px 0 rgba(0,0,0,.02);    
      overflow:hidden;      
      /* border-radius:5px */
    }
    ul {
      overflow:hidden;
      box-sizing: border-box;
      width:550px;
      -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      box-shadow        : 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.04),0 1px 5px 0 rgba(0,0,0,.02);
      margin:0;
      padding:0;
    }
    li {
      box-sizing: border-box;
      padding-left:60px;
      margin-bottom:1px;
      border:none;
      letter-spacing:1px;
      text-transform:uppercase;
      letter-spacing:1px;
      font-size:10px;
      cursor:s-resize
    }
    .handle {
      position    : absolute;
      left        : 0px;
      margin-right: 10px;
      top         : 0px;
      height      : 100%;
      width       : 40px;
      background  : rgba(0,0,0,.01);
      
    }
    .actions {
      position    : absolute;
      right        : 0px;
      top         : 0px;
      height      : 100%;
      width       : auto;
      padding:0px 10px;
      background  : rgba(0,0,0,.01);
    }
    .actions i {
      position:relative;
      float:right;
      width:20px;
      height:100%;
      margin: 10px 5px;
      padding-top:0px;
    }
    i {
      font-size:14px;
      cursor:pointer;
    }
    .box{
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      width:15px;
      height:15px;
      background:rgba(255,255,255,.8);
      border: 1px solid rgba(0,0,0,.05)
    }
</style>