<template>
  <div id ='gen'>
    <h1>USSD Service Setup   <span> v1.0</span></h1>  
    <v-app>
      <v-stepper v-model="e6" vertical>
        <v-stepper-step :complete="e6 > 1" step="1">
          Select an app
          <small>Summarize if needed</small>
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-btn color="primary" @click="e6 = 2">Continue</v-btn>
          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="e6 > 2" step="2">Configure analytics for this app</v-stepper-step>

        <v-stepper-content step="2">
          <v-btn color="primary" @click="e6 = 3">Continue</v-btn>
          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="e6 > 3" step="3">Select an ad format and name ad unit</v-stepper-step>

        <v-stepper-content step="3">
          <v-btn color="primary" @click="e6 = 1">Continue</v-btn>
          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>
      </v-stepper>
    </v-app>
  </div>
</template>

<script>

  export default {
    name : 'stepper',
    data : () => {
      return {
         e6: 1
      }
    },
    components : {
    },
    methods :{
      alertMyName () {
        // alert ( 'My name is Slim Shady' )
      }
    }

  }

</script>


<style scoped>
    div{
      margin:3%
    }
    .application {
      background:none
    }
    #ussd-stepper {
      text-align:left
    }
    h1 {
      font-size:24px;
      font-family:Arial;
      font-weight:lighter;
      letter-spacing:-1px;
      margin-left:15px
    }
    h1 span {
      letter-spacing:2px
    }
    .v-stepper, .v-stepper__header {
      -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      box-shadow        : 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.04),0 1px 5px 0 rgba(0,0,0,.02);
    }
</style>