<style>
    * {
        font-family  : "consolas";
        font-size:0.96em;
        transition   : all 500ms ease;
        line-height  : 15px;
    }
    input {
        line-height  : 30px;
        color:grey
    }
    fieldset {
        border       : none;
        width:auto
    }
    label{
        font-weight:bold;
        text-transform:capitalize;
    }
    label:before{
        content:'[+] ';
        font-weight:lighter;
    }
    input[type="text"],input[type= "file"],input[type="submit"]{
        width:auto;
        min-width:250px;
    }
    input[type="text"] {
        outline      : none;
        background   : none;
        border       : none;
        border-bottom: 2px solid grey;
        background:rgba(0,0,0,.01);
        margin-top:10px;
    }
    input[type="text"]:hover, input[type="text"]:active {
        border-bottom: 2px solid rgb(7, 174, 252);
    }
    input[type="file"] {
        outline      : none;
        background   : none;
        border       : none;
        border-bottom: 2px solid grey;
    }
    input[type= "file"]:hover, input[type="file"]:active {
        border-bottom: 2px solid rgb(7, 174, 252);
    }
    input[type="submit"] {
        outline      : none;
        background   : none;
        border       : none;
        background   : rgb(7, 174, 252);
        color        : white;
        box-sizing   : border-box;
        padding      : 10px 30px     ;
        cursor       : pointer;   
    }
    input[type= "submit"]:hover {
        opacity      : .5
    }
    input[type= "submit"]:active {
        opacity      : 0
    }      
</style>
<form action="upload" method="post" enctype="multipart/form-data">
    <fieldset>
        <label for='project_name'>Project Name:</label><br>
        <input type='text' name='project_name' placeholder='' autofocus required/><br><br>

        <label for='mtype'>Monitoring Service:</label><br><br>
        <input type="radio" id="nodemon" name="mtype" value="nodemon">        
        <label for="mtype">nodemon</label>
        <input type="radio" id="pm2" name="mtype" value="pm2 start">
        <label for="mtype">pm2</label><br><br>

        <label for='filetoupload'>Zip File:</label><br>
        <input type="file" name="filetoupload" required><br><br>

        <label for='project_name'>NodeJs Entry File:</label><br>
        <input type='text' name='nodejs_entry_file' placeholder='' required/><br><br>

        <label for='project_name'>NodeJS Port</label><br>
        <input type='text' name='nodejs_port' placeholder='' required/><br><br>

        <label for='project_name'>NodeJS Route</label><br>
        <input type='text' name='nodejs_route' placeholder='' required/><br><br>

        <label for='project_name'>Nginx Port</label><br>
        <input type='text' name='nginx_port' placeholder='' required/><br><br>

        <input type="submit" value="Upload">
    </fieldset>
</form>