<template>

    <div id="app" class="app-wrapper container-fluid">

        <!--Left Side bar-->
        <aside left-side-bar v-bind:class="expandedLayout ? 'left-sidebar expanded':'left-sidebar contracted'">
            <!-- Logo and branding -->
            <div class="logo"></div>

            <!-- links -->
            <div class="links">

                <ul class="sidebar-menu-wrapper">

                    <li class=" list-header ">Navigation</li>

                    <!-- dashboard -->
                    <!--<router-link to="/about">About</router-link>-->
                    <li class="list-entry">
                        <router-link to="/" class="menu-item" >
                            <i class="icon-home4 pull-left "></i>
                            <span class="menu-title pull-left ">Dashboard</span>
                            <span class="label label-success pull-right ">Top</span>
                        </router-link>

                        <ul class="sidebar-menu-list " style="display:none ">

                            <li class="sidebar-menu-list-item ">
                                <div class="menu-title active ">Dashboard 1</div>
                            </li>

                            <li class="sidebar-menu-list-item ">
                                <div class="menu-title ">Dashboard 2</div>
                            </li>
                        </ul>
                    </li>

                    <!-- widgets -->
                    <li class="list-entry ">
                        <router-link to ='/preview' class="menu-item ">
                            <i class="icon-hourglass pull-left "></i>
                            <span class="menu-title pull-left ">Widgets</span>
                            <span class="badge badge-warning badge-rounded pull-right "><p>9</p></span>
                        </router-link>
                    </li>

                    <!-- layouts -->
                    <li class="list-entry ">
                        <router-link to="/about" class="menu-item" >
                            <i class="icon-grid pull-left "></i>
                            <span class="menu-title pull-left ">Layouts</span>
                            <i class="fa fa-angle-right pull-right "></i>
                        </router-link>
                    </li>

                    <li class="list-divider "></li>
                    <li class="list-header ">Components</li>

                    <!-- ui elements -->
                    <li class="list-entry ">
                        <a class="menu-item">
                            <i class="icon-layers pull-left "></i>
                            <span class="menu-title pull-left ">UI Elements</span>
                            <i class="fa fa-angle-right pull-right "></i>

                        </a>
                    </li>

                    <!-- forms -->
                    <li class="list-entry ">
                        <a class="menu-item">
                            <i class="icon-note pull-left "></i>
                            <span class="menu-title pull-left ">Forms</span>
                            <i class="fa fa-angle-right pull-right "></i>
                        </a>
                    </li>

                    <!-- tables -->
                    <li class="list-entry ">
                        <a class="menu-item">
                            <i class="icon-calendar pull-left "></i>
                            <span class="menu-title pull-left ">Tables</span>
                            <i class="fa fa-angle-right pull-right "></i>
                        </a>
                    </li>

                    <!-- charts -->
                    <li class="list-entry ">
                        <a class="menu-item">
                            <i class="icon-graph pull-left "></i>
                            <span class="menu-title pull-left ">Charts</span>
                        </a>
                    </li>

                    <li class="list-divider "></li>
                    <li class="list-header ">Extra</li>

                    <!--apps -->
                    <li class="list-entry ">
                        <a class="menu-item">
                            <i class="icon-social-dropbox pull-left "></i>
                            <span class="menu-title pull-left ">Apps</span>
                            <span class="label label-mint pull-right ">New</span>
                        </a>
                    </li>

                    <!-- status -->
                    <li>
                        <a class="menu-item">
                            <i class="icon-doc pull-left "></i>
                            <span class="menu-title pull-left ">Pages</span>
                            <i class="fa fa-angle-right pull-right "></i>
                        </a>
                    </li>
                </ul>
            </div>

        </aside>

        <!--Content Wrapper-->
        <section v-bind:class=" expandedLayout ? 'content-wrapper expanded' : 'content-wrapper contracted' ">

            <!--header-->
            <div header class="header">
                <!-- Navicon -->
                <div class="action-menu pull-left " v-on:click="toggleSideBar ()">
                    <span class="sidebar-toggle action-icon ">
                        <i v-bind:class="expandedLayout ? 'icon-arrow-left8' : 'icon-arrow-right8' "></i>
                    </span>
                </div>

                <!-- User icon -->
                <div class="action-menu pull-left">
                    <span class="sidebar-toggle action-icon " style="margin: 0; ">
                        <i class="icon-grid " style="color: #4bade2; "></i>
                    </span>
                </div>

                <div class="action-menu pull-left">
                    <span class="action-icon special-icon dropdown-text ">
                                <span>Mega</span>
                    <span class="caret "></span>
                    </span>
                </div>

                <!-- User Icon-->
                <div class="action-menu user-menu pull-right " style="background: #4ebcda; ">

                    <li class=" right-sidebar-toggle " style="padding-left: 34px; ">
                        <p class=" pull-right ">
                            <i class="fa fa-angle-down " style="color: white;font-size: 20px; "></i></p>
                        <span class="pull-right ">
                            <img class="img-circle img-user " style="box-shadow: 0 0 0 2px rgba(0, 0, 0, 0); " src="./assets/img/av1.png"/>
                        </span>

                    </li>
                </div>

                <!-- Settings Icon -->
                <!-- <div class="action-menu pull-right " ng-click=" ">
                    <span class="action-icon special-icon " style="background: #f2f2f2;margin-right: 0; ">
                        <i class="icon-bell "></i>
                        <span class="badge-suffix badge-danger "><p>2</p></span>
                    </span>
                </div> -->

                <div class="action-menu pull-right " style="margin-left:40px ">
                    <span class="action-icon special-icon " style=" background: rgba(0, 0, 0, 0.02); ">
                        <i class="icon-frame "></i>
                    </span>
                </div>

                <!-- search form-->
                <div class="action-search pull-right ">

                    <div class="form-group ">

                        <div class="input-group ">

                            <input type="text " class="form-control " placeholder="Search projects... ">
                            <span class="input-group-btn ">
                                <button type="submit " class="btn btn-sm bg-light rounded "><i class="fa fa-search "></i></button>
                            </span>

                        </div>
                    </div>
                </div>
            </div>

            <!--dynamic content-->
            <div class="dynamic-content ">

                <!-- Router Link for dynamic content -->
                <div class="page-content col-md-12">
                    <router-view></router-view>
                </div>

                <div class="right-sidebar "></div>

            </div>

            <!--Footer-->
            <div class="footer ">
                <div>
                    © 2017 Copyright.Eclectics International ltd.
                </div>
            </div>

        </section>
    </div>

</template>

<script>
  export default {
    name: 'App',
    data : () => {
        return {
            expandedLayout: false,
        }
    },
    methods : {
        toggleSideBar: function () {            
            this.expandedLayout = !this.expandedLayout
        }
    }
    
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    /* You can add global styles to this file, and also import other style files */
    @font-face {
        font-family: 'DejaVu';
        src: url('./assets/font/DejaVuSans.ttf') format('truetype');
        font-style:normal;
        font-weight:normal;
    }

        @font-face {
        font-family: 'DejaVu';
        src: url('./assets/font/DejaVuSansBold.ttf') format('truetype');
        font-style:italic;
        font-weight:normal;
    }

    @font-face {
        font-family: 'Mont';
        src: url('./assets/font/Mont.otf') format('opentype');
        font-style:normal;
        font-weight:normal;
    }

        @font-face {
        font-family: 'Mont';
        src: url('./assets/font/MontBold.otf') format('opentype');
        font-style:italic;
        font-weight:normal;
    }

    * {
        font-family: "Mont";
    }


</style>

