/*============================

	PADDING

  ============================*/
.pad-all{
    padding: 15px;	
}	
.padd-all{
    padding:15px;
}
.pad-no{
    padding: 0;	
}	
.pad-lft{
    padding-left: 15px;	
}	
.pad-rgt{
    padding-right: 15px;	
}	
.pad-top{
    padding-top: 15px;
}	
.pad-btm{
    padding-bottom: 15px;
}	
.pad-hor{
    padding-left: 15px;
    padding-right: 15px;
}	
.pad-ver{
    padding-top: 15px;
    padding-bottom: 15px;
}




/*============================

    POSITIONING

  ============================*/
.pull-right{
    
    position:relative;
    float:right;
}
.pull-left{
    position:relative;
    float:left;
}
.center{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
}

.relative-center{
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
}

.relative-block{
    .pull-left;
    width:100%;
    height:auto;
    box-sizing:border-box;  
}









/*============================

	MARGIN

  ============================*/
.mar-all{
    margin: 15px;
}	
.mar-no{
    // margin: 0 !important;
}	
.mar-lft{
    margin-left: 15px;
}	
.mar-rgt{
    margin-right: 15px;
}	
.mar-top{
    margin-top: 15px;
}	
.mar-btm{
    margin-bottom: 15px;
}	
.mar-hor{
    margin-left: 15px;
    margin-right: 15px;
}	
.mar-ver{
    margin-top: 15px;
    margin-bottom: 15px;
}	




/*============================

	BORDERS

  ============================*/
.bord-all(@color){
    border: 1px solid @color;	
}
.bord-no{
    border: 0 !important;	
}
.bord-top{
    border-top: 1px solid rgb(233, 233, 233);	
}
.bord-btm{
    border-bottom: 1px solid rgb(233, 233, 233);	
}
.bord-lft{
    border-left: 1px solid rgb(233, 233, 233);	
}
.bord-rgt{
    border-right: 1px solid rgb(233, 233, 233);	
}
.bord-hor{
    border-right: 1px solid rgb(233, 233, 233);
    border-left: 1px solid rgb(233, 233, 233);
}
.bord-ver{
    border-top: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
}




/*============================

	TEXT SIZES

  ============================*/
.text-5x,
.text-4x,
.text-5x,
.text-2x,
.text-lg,
.text-sm,
.text-xs {
    line-height: 1.25;
}
.text-thin{
    font-weight: lighter;
}
.text-normal{
    font-weight: normal;
}
.text-semibold{
    font-weight: 600;
}
.text-bold{
    font-weight: bold;
}
.text-xs{
    font-size: .8em;
}
.text-sm{
    font-size: .9em;
}
.text-2x{
    font-size: 2em;
}
.text-3x{
    font-size: 3em;
}
.text-4x{
    font-size: 4em;
}	
.text-5x{
    font-size: 5em;
}
.unselectable{
    cursor: default;
    -webkit-user-select: none;
}
.text-overflow{
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/*============================

	TEXT ALIGNMENT

  ============================*/
.text-lowercase{
    text-transform: lowercase;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}




/*============================

	TEXT COLORS

  ============================*/

/*text*/
.text-light, 
a.text-light:hover,
a.text-light:active,
a.text-light:focus{
	color:@light;
}
.text-muted ,
a.text-muted:hover,
a.text-muted:active,
a.text-muted:focus{
	color:@muted;
}	
.text-primary ,
a.text-primary:hover,
a.text-primary:active,
a.text-primary:focus{
	color:@primary;
}	
.text-info ,
a.text-info:hover,
a.text-info:active,
a.text-info:focus{
	color:@info;
}	
.text-success, 
a.text-success:hover,
a.text-success:active,
a.text-success:focus{
	color:@success;
}	
.text-mint, 
a.text-mint:hover,
a.text-mint:active,
a.text-mint:focus{
	color:#7dafb5;
}	
.text-warning ,
a.text-warning:hover,
a.text-warning:active,
a.text-warning:focus{
	color:@warning;
}	
.text-danger ,
a.text-danger:hover,
a.text-danger:active,
a.text-danger:focus{
	color:@danger;
}	
.text-purple ,
a.text-purple:hover,
a.text-purple:active,
a.text-purple:focus{
	color:@purple;
}	
.text-pink ,
a.text-pink:hover,
a.text-pink:active,
a.text-pink:focus{
	color:@pink;
}	
.text-dark ,
a.text-dark:hover,
a.text-dark:active,
a.text-dark:focus{
	color:@dark;
}	




/*============================

	BACKGROUND COLORS

  ============================*/
.bg-light{
	color:@muted;
	background:@light;
}
.bg-gray-light{
	color:@muted;
	background:@gray-light;
}
.bg-gray{
	color:@muted;
	background:@gray;
}
.bg-gray-dark{
	color:@muted;
	background:@gray-dark;
}	
.bg-primary{
	color:@light;
	background:@primary;
}
.bg-info{
	color:@light;
	background:@info;
}	
.bg-success{
	color:@light;
	background:@success;
}
.bg-mint{
	color:@light;
	background:@mint;
}
.bg-warning{
	color:@light;
	background:@warning;
}	
.bg-danger{
	color:@light;
	background:@danger;
}	
.bg-violet{
	color:@light;
	background:@purple;
}	

.bg-angulr-purple{
    color:@light;
    background:#7266ba;
}   

.bg-pink{
	color:@light;
	background:@pink;
}	
.bg-dark{
	color:@light;
	background:@dark;
}
.bg-trans{
	color:@muted;
	background:@trans;
}
.bg-trans-light{
	color:@muted;
	background:@trans-light;
}	
.bg-trans-dark{
	color:@muted;
	background:@trans-dark;
}




/*============================

	IMAGES

  ============================*/
.img-circle{
	border-radius: 50%;
}
.img-xs{
    width: 32px;
    height: 32px;
}
.img-sm{
    width: 46px;
    height: 46px;
}
.img-md{
    width: 64px;
    height: 64px;
}
.img-lg{
    width: 96px;
    height: 96px;
}

.img-border {
    box-shadow: 0 0 0 4px @trans-dark-100;
}




/*============================

	ICONS

  ============================*/
.icon-wrap{
    display: inline-block;
    padding: 10px;
    border-radius: 2px;

	i {
	    display: block;
	    line-height: 1em;
	    text-align: center;
	    position: relative;
	    width: 1em;
	    padding-top: 1em;
	    vertical-align: middle;
	}
}

.icon-circle{
    border-radius: 50%;
}

.icon-wrap-xs{
    padding: 7px;
}

.icon-wrap-sm{
    padding: 12px;
}

.icon-wrap-md{
    padding: 17px;
}

.icon-wrap-lg{
    padding: 20px;
}
