/*============================

	TYPOGRAPHY - HEADINGS

  ============================*/

h1,.h1{
	font-size:34px
	}
h2,.h2{
	font-size:28px
	}
h3,.h3{
	font-size:22px
	}
h4,.h4{
	font-size:16px
	}
h5,.h5{
	font-size:12px
	}
h6,.h6{
	font-size:10px
	}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight:600;
}

/*============================

	OTHERS

  ============================*/
::selection{
	background-color:rgba(46,165,204,0.41);
}
::-moz-selection{
	background-color:rgba(46,165,204,0.41);
}


mark, .mark {
    background-color: rgb(255, 227, 162);
    color: rgb(86, 60, 0);
    padding: .1em;
}

code {
    background-color: rgb(231, 227, 242);
    color: rgb(255, 0, 0);
    padding: 2px 7px;
    border-radius: 2px;
    font-size: 97%;
}