.badge-rounded{
	    position: absolute;
	    width:20px;
		height:18px;
		border-radius:50%;


		p{
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
			color:white;
			font-size:11px;
		}
}


/*BADGES*/
.badge-suffix{
    position: absolute;
	right: 8px;
	top: 5px;
	width:18px;
	height:18px;
	border-radius:50%;


	p{
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		color:white;
		font-size:11px;
	}
}



span.badge{
    border-radius: 0;
    margin-right: 10px;
    right: 0;
    position: relative;
    color: white;
    letter-spacing: 0px;
    font-weight: lighter;
    box-sizing: border-box;
    font-size: 10px;
    padding: 2px 5px;
    box-sizing:border-box;

}

span.badge-rounded{
	border-radius:30px;
	padding:0;
}

span.badge-primary{
	background:#2196F3;
	
}

span.badge-info{
	background: #2aaece;
	
}

span.badge-warning{
	background:orange;
	
}

span.badge-danger{
	background:#e2665e;
	
}

span.badge-success{
	background:#4CAF50;
	
}
