/*Buttons*/
.btn{
		cursor: pointer;
		padding: 6px 12px;
		border-radius: 0;
		border: 1px solid 0;
		font-size: 12px;
		line-height: 1.42857;
		vertical-align: middle;		
}

.btn-success{
    background-color: #97c664;
    border-color: #9cc96b;
    color: #fff;	
}

.btn-success:hover, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-color: #87bd4b;
    border-color: #8bbf51;
    color: #fff;
}

.btn-info, .btn-info:focus, .btn-hover-info:hover, .btn-hover-info:active, .btn-hover-info.active, .btn.btn-active-info:active, .btn.btn-active-info.active, .dropdown.open>.btn.btn-active-info, .btn-group.open .dropdown-toggle.btn.btn-active-info {
    background-color: #46b9d8;
    border-color: #4ebcda;
    color: #fff;
}

.btn-danger, .btn-danger:focus, .btn-hover-danger:hover, .btn-hover-danger:active, .btn-hover-danger.active, .btn.btn-active-danger:active, .btn.btn-active-danger.active, .dropdown.open>.btn.btn-active-danger, .btn-group.open .dropdown-toggle.btn.btn-active-danger {
    background-color: #f76447;
    border-color: #f76c51;
    color: #fff;
}

.btn-mint, .btn-mint:focus, .btn-hover-mint:hover, .btn-hover-mint:active, .btn-hover-mint.active, .btn.btn-active-mint:active, .btn.btn-active-mint.active, .dropdown.open>.btn.btn-active-mint, .btn-group.open .dropdown-toggle.btn.btn-active-mint {
    background-color: #48c5a3;
    border-color: #50c7a7;
    color: #fff;
}

.btn-primary, .btn-primary:focus, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn.btn-active-primary:active, .btn.btn-active-primary.active, .dropdown.open>.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group-vertical .btn:not(.btn-default), .btn-group .btn:not(.btn-default) {
    border-color: rgba(0,0,0,0.09);
}