.calendar-wrapper{
	width:560px;
	position:absolute;
	right:0px;
	z-index:1000;
	outline:none;
	box-shadow: 0px 0px 6px 1px rgba(45, 44, 44, 0.39);
    background: rgba(63, 65, 74, 0.96);
}


.calendar-wrapper.open{
	top:55px;
	opacity:1;
	display:block;
}

.calendar-wrapper.close{
	top:55px;
	opacity:0;
	display:none;
}

.selectbox{
    background: #fff;
    color: #333;
    padding: 12px 0px 6px;
    line-height: 18px;
    border-radius: 0px;
    border: 1px solid #ddd;	
    border-width: 0 0px 4px;
    cursor: pointer;
	font-weight:bold;
}

.selectbox.dhl-dark{
	top:10px;
	background:transparent;
    border: 1px solid rgb(17, 180, 161);
    border-width: 0 0px 2px;
    color:rgba(255,255,255,.7)
}