/*drop down menu*/

.dropdown-menu {
    
    font-size: 12px;
    border-radius: 0;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.15);
    margin: 1px 0 0 0;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #e9e9e9;
    min-width:0px;
}

.dropdown-menu-md {
    width: auto;
}

.dropdown-menu>li>a {
    padding: 5px 10px;
    outline:none;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #26c6da;
}

.dropdown-menu.with-arrow:before, .dropdown-menu.with-arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}


.dropdown-menu.with-arrow:after {
    border-bottom: 7px solid #fff;
    margin: -6px 0 0 15px;
}


.dropdown-menu.with-arrow:before, .dropdown-menu.with-arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.dropdown-menu.with-arrow:before {
    border-bottom: 7px solid #d0d0d0;
    margin: -7px 0 0 15px;
}

.bord-btm {
    border-bottom: 1px solid #e9e9e9;
}
.bord-top {
    border-top: 1px solid #e9e9e9;
}


.dropdown-menu .nano {
    max-height: 265px;
    overflow:auto;
}

 .head-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.head-list li{
	margin:0;
	padding:0;
}

.head-list li a {
    display: block;
    padding: 10px 15px;
    color: rgba(0,0,0,0.6);
    background: transparent;
    text-decoration:none;
}

.action-menu li div {
    clear:both;
    float:none;
    white-space: nowrap;
    line-height: 12px;
    margin: 0 0;
    color: #515151;
}







.text-muted, a.text-muted:hover, a.text-muted:focus, a.text-muted:focus {
    color: #606060;
}


/*DHL Dark dropdown menu*/
dropdown-menu {
    font-size: 12px;
    border-radius: 0;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    margin: 1px 0 0 0;
    margin-top: 10px;
    padding: 0;
    /* border: 1px solid #e9e9e9; */
    min-width: 0px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 0px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: rgba(64, 66, 75, 0.94);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #efefef;
    text-decoration: none;
    background-color: rgba(12, 12, 12, 0.09);
}
.dropdown-menu > li > a {
    padding: 5px 10px;
    outline: none;
    font-size: 10px;

    span {
        font-size:10px;
        i{
             font-size:10px;
        }
    }
    i{
             font-size:10px;
        }
}
.dropdown-menu>li>a {
    display: block;
    padding: 6px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #d6d4d4;
    font-size: 10px;
    white-space: nowrap;
}

