.label-success {
    background-color: #9cc96b;
}
.label-purple {
    background-color: #986291;
}

.label-mint{
	background: #2aaece;
}

.label{
	font-size:10px;
	border-radius:0px;
	font-weight:normal;
}