/* PANELS STRUCTURE*/
.panel{
	border-radius: 0;
	border:none;
	box-sizing:border-box;
	padding:0px;
	min-height:50px;

	.panel-heading{

		border-radius:0px;
		border:none;
		border-bottom:1px solid rgba(0,0,0,.05);
		text-transform:capitalize;
		box-sizing:border-box;
		padding:15px 15px;
		height:50px;

		.panel-title{
			font-size:12px;
			font-weight:bold;
			color: #2d333c;

			.panel-actions{
				.pull-right;
				width:auto;
				height:20px;

				i{
					padding-left:10px;
					font-size:14px;
					cursor:pointer;
				}
			}			
		}
	}

	.panel-body{
		width:100%;
		.mar-no;
		.pad-no;
		height:auto;
		overflow:visible;
	}
}


.panel.arrow-top{

	&::before {
		content: ' ';

		/* Layout  */
		position: absolute;
		top: -15px;
		left: 110px;
		z-index: 2;	
		height: 0;		
		width: 0;		
		border: 8px solid transparent; /* arrow size */

		/*styling*/
		border-bottom-color: #fff;  /* arrow color */
    }

 	&::after {
		content: ' ';

		/* Layout  */
		position: absolute;
		top: -15px;
		left: 112px;
		z-index: 1;	
		height: 0;		
		width: 0;		
		border: 8px solid transparent; /* arrow size */

		/*styling*/
		border-bottom-color: rgba(0,0,0,.05);  /* arrow color */
    }   	
}
.panel-1x{
	height:90px;
}

.panel-2x{
	height:200px;
}
.panel-3x{
	height:310px;
}
.panel-4x{
	
}




/*============================

	LAYOUT - STATUS WIDGET (!!! MOVE THIS CODE TO AN APPROPRIATE FOLDER !!!!)

  ============================*/

.status-widget-width{
	min-width:230px;
}



.panel-footer{

	margin-top:10px;
	border-top:1px solid rgba(0,0,0,.05);

	.volumes{
		width:100%;
		height:auto;

		.volumeGroup{
			display:inline-block;
			width:33.3%;
			text-align:center;

			div{
				font-weight:bold;
				display:block;

				
			}

			&:nth-child(1) {
				text-align:left;
				div:nth-child(2){
					color:#262c34;
				}
			}
			&:nth-child(2) div:nth-child(2){
				color:#bd9a0c;	
			}
			&:nth-child(3) {
				text-align:center;
				div:nth-child(2){
					text-align:center;
					color:#789a54;	
				}
			}
		}
	}
}


.panel-success{
    background-color: #8bc34a;
    border-color: #8bc34a;
    color: #fff;
}

.panel-info{
    background-color: #00bcd4;
    border-color: #00bcd4;
    color: #fff;
}

.panel-purple{
    background-color: #ba68c8;
    border-color: #ba68c8;
    color: #fff;
}

.panel-warning{
    background-color: @dhl-yellow;
    border-color: @dhl-yellow;
    color: #fff;
}







/*============================

	CUSTOM TABLE (!!! MOVE THIS CODE TO AN APPROPRIATE FILE !!!!)

  ============================*/

.cursor-pointer{
	cursor:pointer;
}

.cust-dropdown{
	border: none;
    background: none;
    box-shadow: none;

    &:hover, &:active,&:focus{
    	background:none;
    	background-color:transparent;
    	box-shadow:none;
    }
    .caret{
    	display:none;
    }
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none; 
    box-shadow: none; 
}

 .open>.dropdown-toggle.btn-default,
 .open>.dropdown-toggle.btn-default:focus,
 .open>.dropdown-toggle.btn-default:hover
 .open>.dropdown-toggle.btn-default:active {
     background-color: transparent;
}

.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus{
    background-color: transparent; 
}


.dashboard-height{
	min-height:540px;
}

.analytics-panel-height{
	min-height:367px;
	margin-bottom:15px;
}

.analytics-panel-half-height{
	min-height:176px;
	margin-bottom:15px;
}

.analytics-widget-height{
	min-height:100px;
	margin-bottom:15px;
}


.pad-hor-2{
	padding-left:7.5px;
	padding-right:7.5px;
}

.pad-rgt-2{
	padding-right:7.5px;
}

.pad-lft-2{
	padding-left:7.5px;
}
.pad-all-2{
	padding:7.5px;
}

.btn-default{
    font-weight: bold;
    color: #2d333c;	
}




/*======================================

	WIDGETS

  ======================================*/

.widget-style-a{

	margin-bottom: 20px;

	.widget-header{
		height: 13px;
    	width: auto;
	    position: relative;
	    float: left;
	    letter-spacing: 1px;
	    width: 100%;
	    color: rgba(255, 255, 255, 0.76);
	    padding: 0px 0px 0px 18px;
	    padding-bottom: 16px;
	    font-size: 10px;
	    text-transform: uppercase;	
	}
	.widget-number{
	    position: relative;
	    float: left;
	    font-size: 18px;
	    padding: 0px 5px 0px 16px;
	    font-weight: normal;
	    color: white;
	}
	.widget-icon{
	    position: relative;
	    float: left;
	    padding: 0px 0px;
	    font-size: 13px;
	    font-weight: normal;
	    color: #e66f6c;
	    padding-top: 0px;


	    i{
		    color: #e66f6c;
		    margin-right: 5px;
		    margin-left: 1px;
		    font-size: 20px;
		    top: -2px;
		    position: relative;
	    }
	}
}	

.widget-style-b{

	.widget-header{
	    position: relative;
	    float: left;
	    letter-spacing: 1px;
	    width: 100%;
	    color: rgba(255, 255, 255, 0.76);
	    padding: 10px 0px 3px 20px;
	    font-size: 10px;
	    text-transform: uppercase;
	}
	.widget-icon-large{
	    position: relative;
	    float: left;
	    padding: 0px 10px 20px 15px;
	    width: auto;

	    div{
		    position: relative;
		    float: left;
		    border: 2px solid #4e515d;

		    i{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				font-size: 20px;

		    }	    	
	    }
	}

	.widget-number{
	    width: auto;
	    height: 16px;
	    position: relative;
	    float: left;
	    font-size: 18px;
	    padding: 0px;
	    font-weight: normal;
	    color: white;    
	}
	.widget-icon{
	    position: relative;
	    float: left;
	    padding: 0px 0px;
	    /* color: white; */
	    font-size: 13px;
	    font-weight: normal;
	    color: #e66f6c;
	    padding-top: 1px;


	    i{
		    color: #e66f6c;
		    margin-right: 5px;
		    margin-left: 1px;
		    font-size: 20px;
		    top: -2px;
		    position: relative;
	    }
	}
}

.sparkline-widget-a{
	position:relative;
	float:left;
	width:80%;
	margin-left:10%;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;

	div:nth-child(2){
		padding-top:10px;
	}
}

.trips-widget{
	display:table-row;

	div{
		display:table-cell;
		height:20px;

		&:nth-child(1){
			text-align:left;
			padding-left: 10px;
		}
		&:nth-child(2){
			text-align:right;
			width: 29%;
			color: #11b4a1;
			font-weight: bold;
		}
	}
}					

.highlights-button{
	padding-bottom: 60px;
    padding-top: 50px;
    padding-left: 52px;
}

.thumb-vertical,.thumb-horizontal{
	    background-color: #51535f
}

.content-wrapper.dhl-dark .header{
	    background: rgba(53, 62, 84, 0.16);
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    box-shadow: 0px 0px 8px 1px rgba(6, 6, 6, 0.25);
}
	
