.progress-bar-primary {
    background-color: #5fa2dd;
}
.progress-bar-purple{
	 background-color: #986291;
}


/* the progress widgets */
.progress-sm {
    height: 4px;
    margin-bottom: 5px;
}

.progress-sm .progress-bar {
    font-size: 0;
    line-height: 4px;
}
.progress .progress-bar {
    box-shadow: none;
}

.progress{
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.1);
}



.progress-bar-success {
    background-color: rgb(156, 201, 107);
}

.progress-bar-danger {
    background-color: rgb(247, 108, 81);
}
