/*right side bar component*/
.right-sidebar-content{
	overflow:hidden;
}

.nav-tabs > li > a:hover {
    border:none;
     background-color: rgb(54, 69, 84);
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
 	background-color: rgb(54, 69, 84);
}

.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.nav-tabs.nav-justified > li > a {
    border-radius: 0;
    border:none;

}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    background-color: rgba(60, 77, 94, 0.93);
    border:none;
    color: white;
}

.nav-tabs li:first-child>a {
   border:none;
}

.nav-tabs li a i{
	font-size:16px;
	line-height:20px;
}


.nav-tabs li:not(active) a {
    border-radius: 0;
    border:none;
    background-color: rgb(54, 69, 84);
    color: rgba(255,255,255,0.5);
    padding: 20px 0;
}





.tab-content{
	margin-top:10px;
	padding: 10px 0;
	background-color: rgba(60, 77, 94, 0.93);
	height: 100%;
	color: rgb(255, 255, 255);

	.text-muted {
	    color: rgb(147, 166, 185);
	}
}



.list-group.bg-trans .list-group-item:not(.active):not(.disabled) {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: inherit;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
