<template>
    <div class='dialler'>
        <div class="overlay">
            <div class="ussd-popup"></div>
        </div>
        <div class = 'background'>
            <div class="top-bar"></div>
            <div class="actions-area"></div>
            <div class="keypad">
                <div class='dial-text'>
                    <i class="material-icons">clear</i>
                </div>
                <div class="keys">
                    <div class="key-row">
                        <div class="key">
                            <span class="number">1</span>
                            <span class="text"></span>
                        </div>
                        <div class="key">
                            <span class="number">2</span>
                            <span class="text">abc</span>
                        </div>
                        <div class="key">
                            <span class="number">3</span>
                            <span class="text">def</span>
                        </div>
                    </div>
                    <div class="key-row">
                        <div class="key">
                            <span class="number">4</span>
                            <span class="text">ghi</span>
                        </div>
                        <div class="key">
                            <span class="number">5</span>
                            <span class="text">jkl</span>
                        </div>
                        <div class="key">
                            <span class="number">6</span>
                            <span class="text">mno</span>
                        </div>
                    </div>
                    <div class="key-row">
                        <div class="key">
                            <span class="number">7</span>
                            <span class="text">pqrs</span>
                        </div>
                        <div class="key">
                            <span class="number">8</span>
                            <span class="text">tuv</span>
                        </div>
                        <div class="key">
                            <span class="number">9</span>
                            <span class="text">wxyz</span>
                        </div>
                    </div>
                    <div class="key-row">
                        <div class="key">
                            <span class="number">*</span>
                            <span class="text"></span>
                        </div>
                        <div class="key">
                            <span class="number">0</span>
                            <span class="text"></span>
                        </div>
                        <div class="key">
                            <span class="number">#</span>
                            <span class="text"></span>
                        </div>
                    </div>
                </div>
                <div class="call-button">
                    <div class='button-holder'>
                        <i class="material-icons">call</i>
                    </div>
                    
                </div>
            </div>
            <div class="bottom-bar">
                <div class="bottom-nav">
                    <i class="material-icons">keyboard_arrow_left</i>
                    </div>
                <div class="bottom-nav">
                    <i class="fa fa-circle-o"></i>
                </div>
                <div class="bottom-nav">
                    <i class="material-icons">crop_square</i>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
    export default {

        name: 'dialer',
        data () {
            return {

            }
        }
        
    }
</script>

<style scoped>
    *{
        box-sizing:border-box;
        transition:all 200ms ease;
    }
    
    .dialler {
        position:absolute;
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        overflow: hidden;
        /* border-radius:5px */
    }
    .background {
        position:absolute;
        width:100%;
        height:100%;
        background: #FAFAFA;
        margin:0;
        padding:0;
    }
    .top-bar{
        position:relative;
        float:left;
        width:100%;
        height:6%;
        background-image:url('../../assets/img/top_bar.png');
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;
        filter:contrast(110%)
    }
    .top-bar i {
        font-size:13px;
        position:relative; float:right;
        opacity:.5;
        margin:0 1px
    }
    .actions-area{
        position:relative;
        float:left;
        width:100%;
        height:20%;
        background:none;
    }
    .keypad{
        position:relative;
        float:left;
        width:100%;
        height:67%;
        background:#FFFFFF
    }
    .dial-text {
        position:relative;
        width:100%;
        height:15%;
        border-top:1px solid rgba(0,0,0,.02);
        border-bottom:1px solid rgba(0,0,0,.02)
    }

    .dial-text i {
        margin: 10px 0px 0px 0px;
        position: relative;
        float: right;
        padding-right: 10px;
        opacity: .3;
        cursor:pointer;
    }
    .dial-text i:hover {
        margin: 10px 0px 0px 0px;
        position: relative;
        float: right;
        padding-right: 10px;
        opacity: .9;
        cursor:pointer;
    }
    .dial-text i:active {
        margin: 10px 0px 0px 0px;
        position: relative;
        float: right;
        padding-right: 10px;
        opacity: 0;
        cursor:pointer;
    }
    .keys{
        position:relative;
        float:left;
        width:80%;
        margin:1.5% 10% 10%;
        height: auto;
    }
    .key-row {
        position:relative;
        float:left;
        width:100%;
        height:25%;
    }
    .key {
        position:relative;
        float:left;       
        width:33%;
        height:100%;
        text-align:center;
        cursor:pointer;
    }
    .key .number {
        font-family: roboto;
        font-size:28px;
        font-weight:lighter;
        position:relative;
        float:left;
        width:100%;
        height:30px;
        margin:0;
        padding:0; 
        color:#7d95a7   
    }
    .key:active {
        opacity:0
    }
    .key:hover .number {
        opacity:.5;
        transform:scale(1.1);
    }
    .key .text {
        font-family: roboto;
        font-size:10px;
        text-transform:uppercase;
        font-weight:bold;
        /* font-weight:lighter; */
        position:relative;
        letter-spacing:1px;
        float:left;
        width:100%;
        height:auto;
        margin:0;
        padding:0;
        color:rgba(0,0,0,.3)
    }
    .call-button {
        position:relative;
        float:left;
        width:100%;
        height :auto;
    }    
    .call-button .button-holder {
        position:relative;
        margin:0 auto;
        width:38px;
        height:38px;
        border-radius:50%;
        background:#16E06A;
        color:white;
        cursor:pointer;
        box-shadow: 1px 3px 4px 1px rgba(0,0,0,.1);
    }
    .call-button .button-holder i {
        position:absolute;
        left:50%;
        top:50%;
        transform:translate( -50%,-50%)
    }
    .button-holder:hover {        
        opacity:.9;
        transform:scale(1.1)
    }
    .button-holder:active {        
        opacity:0;
        transform:scale(1.1)
    }
    .bottom-bar{
        position:relative;
        float:left;
        bottom:0;
        width:100%;
        height:20%;
        background:rgb(254, 254, 254)
    }
    .bottom-bar .bottom-nav {
        position:relative;
        float:left;
        bottom:0;
        width:28%;
        height:100%;
        text-align:right;
        cursor:pointer;
    }
    .bottom-nav i {
        color: rgba( 0,0,0,.2 );
        font-size:20px;
        margin-top:6px
    }
    .bottom-nav:nth-child(1)  i{
        font-size:30px;
        margin-top:2px;
        opacity:.5
    }
    .bottom-nav:nth-child(2) {
        opacity:.7
    }

    .bottom-bar .bottom-nav:hover {
        opacity:.9;
        transform:scale (1.1)
    }
    .bottom-bar .bottom-nav:active {
        opacity:0
    }

</style>


