/*============================

	LAYOUT- OVERRIDES

  ============================*/
[class^="col-"],
[class*="col-"],
[class^=" col-"],
[class*=" col-"],
.row,
body,
html,
#app,
.app-wrapper{
	.mar-no;
	.pad-no;
	box-sizing:border-box;
}

body{
	/*overflow:hidden;*/
}

[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{
	display:none !important;
}




/*============================

	LAYOUT - DIMENSIONS

  ============================*/
body,
html,
#app,
.app-wrapper{
	width:100%;
	height:100%;
}


/*left-sidebar*/
@left-sidebar-width-full:220px;
@left-sidebar-width-min:60px;
@left-sidebar-stats-height:200px;
@left-sidebar-toolbar-height:60px;

/*content area*/
@main-nav-height:60px;
@content-aside-width:220px;
@right-side-bar-width:220px;
@occupied-height: @main-nav-height;


/*============================

	RESPONSIVENESS

  ============================*/
@desktop:   ~"only screen and (min-width: 960px)";
@tablet-landscape:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@tablet-portrait: ~"only screen and (min-width: 480px) and (max-width : 719px)";
@smartphone: ~"only screen and (max-width : 479px)";




/*============================

	LAYOUT - DEFAULTS

  ============================*/
.app-wrapper{
	display: table;
	border-spacing: 0;
    border-collapse: collapse;
}



/*============================

	LAYOUT - LEFT SIDENAV

  ============================*/
.left-sidebar{
	
	width:@left-sidebar-width-full;
	height:100%;
	display:table-cell;
	vertical-align: top;
	overflow:hidden;
	.pad-no;

	/*stacking*/
	z-index:3;	




	/*logo*/
	.logo{

		/*position*/
		.relative-block;

		/*dimensions*/
		height:@main-nav-height;

		/*stacking*/
		z-index:3;

		/*overrides for dragging on desktop apps*/
		-webkit-app-region:drag;

		
		i{
			.center;
			
		}	
	}



	/*tool bar*/
	.left-sidebar-toolbar{

		/*position*/
		.relative-block;

		/*dimensions*/
		height:@left-sidebar-toolbar-height;

		span{

			/*position*/
			.relative-block;

			/*dimensions*/
			width:33.33%;
			height:100%;

			i{
				/*position*/
				.center;				
			}
		}
	}




	/*links*/
	.links{
		
		/*position*/
		.relative-block;

		/*dimensions*/
		height:~"calc(100vh - @main-nav-height - @left-sidebar-toolbar-height - @left-sidebar-stats-height)";
		box-sizing:border-box;
		padding-top:0;
		padding-left: 20px;
		padding-right: 20px;


		/*menu wrapper*/
		.sidebar-menu-wrapper{
			
			/*position*/
			.relative-block;

			/*dimensions*/
			.pad-no;
			.mar-no;

			
			li{
				
				/*dimensions*/
				.relative-block;
				margin:0;
				width:100%;
				height:auto;
				
				

				/*this is the item containing the menu name*/
				.menu-item{

					/*dimensions*/
					width:100%;
					height:41px;
					padding:12px 0 12px 20px;;	
					display:block;				
					

					i{
						/*dimensions*/
						width:20px;
						height:5px;
						
					}


					i.pull-left{
						margin-right:10px;
					}

					&:hover{
						padding:12px 0px 12px 25px;
					}
				}

				/*menu active class*/
				.active{
					padding:12px 0 12px 20px ;
					.menu-item{
						height:auto;
					}
				}

				/* NESTED ITEMS */
				.sidebar-menu-list{

					/*position*/
					.relative-block;
					margin:0;
					padding:12px 0;
					margin-left: 27px;
					width:~"calc(100%-27px)";
					.transition;	

					li{
						
						/*dimensions*/
						margin:0;
						
						

						/*this is the item containing the menu name*/
						

							/*dimensions*/
							width:100%;
							height:auto;
							padding:8px 0 8px 20px;	
							display:block;	
							border-left: 2px solid rgba(134, 155, 173, 0.17);

							

							div{
								position:relative;
								float:left;
								margin-left:10px;
								color: #869fb1;
								font-weight: bold;
							}

							&:hover{
								padding:8px 0px 8px 25px;
							}
						

						/*menu active class*/
						.active{
							padding:8px 0 8px 0px;	
						}
					}
				}
			}

			/*default list header*/
			.list-header{		

			

    			padding: 10px 15px;
				font-weight:normal;
				height:30px;
				font-size: 11px;
				letter-spacing: 1px;
				margin:10px;
			}

			/*default list divider*/
			.list-divider{				
				width:100%;
				margin: 5px 0;
				height: 1px;
			}
		}
	}



	/*stats*/
	.left-sidebar-stats{
		
		/*position*/
		.relative-block;

		/*dimensions*/
		.mar-no;
		width:100%;
		height:@left-sidebar-stats-height;
		.pad-no;
		.pad-hor;

		.list-header{
			
			.pad-no;
			.pad-ver;
			.mar-btm;
			height:30px;
		}

		.progress-widget{
			.mar-btm;
			p{
				.pull-left;
				.pad-no;
				margin-bottom:10px;
			}

			.progress{
				width:100%;
			    height: 4px;
			    margin-bottom: 5px;
			}
		}

		.btn{
			padding: 6px 12px;
			
		}
	}	
}

.left-sidebar.expanded{
	
	width:@left-sidebar-width-full;
}

.left-sidebar.contracted{
	width:@left-sidebar-width-min;

	.left-sidebar-toolbar{
		display:none
		;		
	}

	.links{

		margin-top:20px;
		padding-left:0;
		padding-right:0;

		.sidebar-menu-wrapper{

			li{
				.menu-item{
					width:60px;

					span, i.pull-right{
						display:none;
					}

					i.pull-left{
						font-size:16px;
					}

					&:hover{
						padding:12px 20px 9px 22px;
					}
				}

				/* NESTED ITEMS */
				.sidebar-menu-list{
					display:none;
				}
			}

			.list-header{
				display:none;
			}
		}
	}

	.left-sidebar-stats{
		display:none;
	}
}








/*============================

	LAYOUT - CONTENT WRAPPER

  ============================*/
.content-wrapper {
	vertical-align: top;
	.pad-no;
	width:~"calc(100% - @left-sidebar-width-full)";
	background:transparent;
	display:table-cell;
	height:100vh;
	

	/*stacking*/
    z-index:3;


	.header{
		.relative-block;
		height:@main-nav-height;
		background:rgb(255, 255, 255);
		/*stacking*/
		z-index:4;

		/*desktop app drag handling*/
		-webkit-app-region:drag;

		.action-menu{

			/*position*/
			top:0;

			/*dimensions*/
			height:@main-nav-height;
			width:auto;
			margin-left:0px;

			/*desktop app drag handling*/
			-webkit-app-region:no-drag;

			.sidebar-toggle{
				margin-left:10px;
			}

			.action-icon,a.action-icon{
				
				.pull-left;
				width:@main-nav-height;
				height:@main-nav-height;

				i{
					.center;			

				}
			}

			.special-icon{
				.pull-left;
				width:60px;
				height:60px;
				margin-right:0px;

				i{					
					.center;
					top:29px;

				}
			}

			.dropdown-text{
				.pull-left;
				width: 75px;
				text-align: center;
				padding-top: 19px;

				span:nth-child(1){
					font-size: 12px;
				}				
			}
		}

		.main-menu-title{
			position:relative;
			width:auto;
			box-sizing:border-box;
			margin: 0 60px 0 30px;			
			height: 30px;
			top: 10px;
			display:table;
			p{
				display:table-cell;
				padding-left: 30px;

			}
		}

		/*user icon in main nav*/
		.user-menu{

			li{
				height:100%;
				margin-right:10px;
				padding-left:30px;

				span{
					height:50px;

					img{
						position:relative;
						top:50%;
						transform:translateY(-50%);
					    width: 32px;
					    height: 32px;
				
					}
					img.lang-flag{
						width:auto;
						height:auto;
						padding: 3px 4px 3px 0;
						
					}
					
				}

				div{
				    float: right;
				    margin: 0 10px;
				}

				p{
					width:30px;
					height:50px;
					padding:0;
					margin:0;

					i{
						position:relative;
						top:50%;
						transform:translateY(-50%);				

					}
				}

			}
		}

		.action-search{

			height: 30px;
			margin-top: 15px;
			margin-bottom: 10px;
			margin-left: 20px;

			.form-group{
				
				height: 30px;
				margin-bottom: 0;

				.input-group{
    
					
					border-radius: 0;
					overflow: hidden;
					/* background-color: #edf1f2; */
				    border-radius: 0;
				    overflow: hidden;
				    border-bottom: 1px dotted #b9b6b6;

					.form-control{

					    height: 30px;
					    border: none;
					    width: 180px;
					    background: none;
					    color: #58666e;
					    outline: none;
					    box-shadow: none;
					    font-size: 11px;						
					}
					.input-group-btn{

						border: none;
						background: none;						
						color: #58666e;

						button{
							border: none;
							outline:none;
							background: none;
							color: #58666e;
						}
					}
				}
			}
		}
	}
	
	.dynamic-content{
		.relative-block;
		height:~"calc(100vh - 90px)";
		overflow:auto;
		padding:0;

		.page-content{

			position:relative;
			float:left;
			width:80%;
			height:100%;

			.page-content-header{


				.page-title {

				    /*dimensions*/
				    width: 100%;
				    margin-top:0px;

				    .page-header {
				    	position:relative;
				    	float:left;
						display:inline-block;
				        margin: 0;
				        padding: 20px 0 5px;
				        border:none;
				    }

				    .searchbox {
				    	display:inline-block;
				    	margin-right: 0;

					}
				}

				.breadcrumb {
				    margin-bottom: 5px;
				    padding: 0;
				    background:none;
				    display:none;

				    li{
				    	a,a:hover,a:focus,a:active{
					    	font-weight:bold;
					    	text-decoration:none;

					    }
				    }
				}

				.search-filter{
				    position:relative;
				    float:right;
			        width: 30%;
			        height:auto;
					z-index:1299;
					padding-top:10px;

					/*styles*/
				
				}
				.search-filter.active{
					top:20px;
				}
			}

			.page-content-body{
			    position: relative;
			    width: 100%;
			    height:auto;				
				padding:15px;
			}
		}

		.right-sidebar{
			position:relative;
			float:left;
			width:20%;
			height:100%;		
		}
	}

	.footer{
		.relative-block;
		height:30px;
		border-top: 1px solid #dee5e7;
		color: #58666e;
    	background-color: #edf1f2;
    	padding: 5px 30px;
	}
}

.content-wrapper.expanded{
	width:~"calc(100% - @left-sidebar-width-full)";
}

.content-wrapper.contracted{
	width:~"calc(100% - @left-sidebar-width-min)";
}












@media @desktop{
}

@media @tablet-landscape{
}

@media @smartphone{
}
