
/* this is where the main color scheme is defined */

/*pallete*/
@light:rgb(255, 255, 255);	
@muted:rgb(81, 81, 81);
@dark:rgb(59, 65, 70);

@gray-light:rgb(243, 245, 248);
@gray:rgb(227, 232, 238);	
@gray-dark:rgb(195, 206, 219);

@dark-gray:#333;
@lighter-gray:#777;
@light-gray:#999;

@primary:rgb(95, 162, 221);	
@info:rgb(78, 188, 218);	
@success:rgb(156, 201, 107);
@mint:rgb(80, 199, 167);
@warning:rgb(235, 170, 75);	
@danger:rgb(247, 108, 81);	
@purple:rgb(152, 98, 145);	
@pink:rgb(225, 124, 167);	


@trans:rgba(0, 0, 0, 0);

@trans-light:rgba(255,255,255,0.05);	
@trans-light-100:rgba(255,255,255,0.1);	
@trans-light-300:rgba(255,255,255,0.3);
@trans-light-500:rgba(255,255,255,0.5);	
@trans-light-800:rgba(255,255,255,0.8);

@trans-dark-20:rgba(0,0,0,0.02);
@trans-dark:rgba(0,0,0,0.05);
@trans-dark-100:rgba(0,0,0,0.1);
@trans-dark-200:rgba(0,0,0,0.2);
@trans-dark-300:rgba(0,0,0,0.3);
@trans-dark-500:rgba(0,0,0,0.5);


@baby-blue:rgb(84, 171, 217);
@skyblue:#2986b8;	                                       
@skyblue-light:rgb(231, 235, 238); 


@old-navy:red;
@old-navy-lighter:rgba(60, 77, 94, 1);
@old-navy-dark:rgb(48, 61, 74);



/*PALLETES
	
	SOLID COLORS

	1. accent
	2. primary
	3. info
	4. success
	5. warning
	6. danger

	--------------------
		OTHERS
	--------------------
	- mint/teal
	- purple
	- yellow
	

	MONOCHROME (GRAYSCALE)
	text-muted
	text-light
	text-dark

*/





