/*============================

	THEME - COLORS

  ============================*/

/*--left sidenav--*/
@dhl-red:#a94442;
@dhl-yellow:#ffcc00;
@logo-bg:@old-navy;/*DHL YELLOW*/ 

@links-bg:@old-navy;
@list-header-color: @trans-light-500;
@menu-item-inactive-color:@trans-light-500;
@menu-item-active-color:@light;
@menu-item-hover-color:@dark-gray;
@menu-item-active-bg-color:@trans-dark-100;
@left-sidebar-stats-color:@trans-dark-100;


/*--navbar--*/
@main-nav-icon-color:@dark-gray;
@main-nav-icon-inactive-color:@dark-gray;
@main-nav-hover-color:@dark-gray;
@main-nav-bg:@light;


/*--content area--*/
@content-area-bg:@light;


.highlight{
	box-shadow: inset 4px 0 0 0 @skyblue;
}

hr {
    border-color: @trans-dark;
}




/*============================

	THEME - FONT

  ============================*/
.global-font-style{	
	font-size:12px;
	font-weight:normal;
	letter-spacing:0px;
}

body,
html,
.app-wrapper{
	.global-font-style;
	::selection {
	    background-color: transparent;
	}
}




/*============================

	THEME - TRANSITION

  ============================*/

.transition, *{
	transition:all 150ms ease-out;
}




/*============================

	THEME - BOX MODEL

  ============================*/

* :not(tspan){	
	box-sizing:border-box;
    font-size: 12px;

}




/*============================

	THEME - ICON SIZES

  ============================*/
@default-icon-size:16px;
@main-nav-default-icon-size:20px;




/*============================

	THEME - BODY

  ============================*/

body{
	background: #f0f3f4;                                        
}




/*============================

	THEME - LEFT SIDE NAV

  ============================*/
.left-sidebar{
	
	.transition;
	background:#2c2e3e;

 	.logo{
		background:#282a3c;

		i{
			color:@light;
			font-size:2em;			
		}
	}

	.left-sidebar-toolbar{
		background:@old-navy;

		span{
			cursor:pointer;
			.transition;

			i{
				color:#869fb1;
				font-size:16px;
			}

			&:hover{
				i{
					font-size:18px;
				}
			}			
		}
	}
	
	.links{
		

		.sidebar-menu-wrapper{
			
			li{
					list-style-type: none;
					cursor:pointer;

					/*this is the item containing the menu name*/
					.menu-item{
						color:#869fb1;
						font-weight:bold;
						font-size: 1em;
					    letter-spacing: 0.02em;
						.text-normal;
						.text-capitalize;
						text-decoration:none;

						i{
							font-size:14px;
							.transition;

							&:hover{
								color:@menu-item-active-color;
							}
						}

						.menu-title{
							
							font-weight: normal;
							text-transform:uppercase;
							font-size: 9px;
							letter-spacing: 1px;

							&:hover{
								color:@light;
							}
						}

						&:hover{
								color:@light;
						}
					}

					.active,
					.router-link-exact-active
					{
						.highlight;
						font-weight:bold;	
						outline:none;
						
						
					}

					:active {
						outline:none;
					}
					

					.sidebar-menu-list{
	

						li{
							
							color: #869fb1;

							&:hover{

								div{
									
								}
							}
								
							

							/*menu active class*/
							.active{
								
								box-shadow: none;
								padding: 0;
							}
						}
					}
			}

			/*default list header*/
			.list-header{
				.transition;
				font-size:11px;
				.text-capitalize;
				color: #59d0f1;
			}

			/*default list divider*/
			.list-divider{
				.transition;
				border-color: rgba(0,0,0,0.22);
    			border-top: 1px solid rgba(0,0,0,0.22);
			}
		}
	}

	.left-sidebar-stats{
		list-style-type: none;
		cursor:pointer;
		background:	@left-sidebar-stats-color;

		.list-header{
			.transition;
			.text-normal;
			.text-capitalize;
			color:@trans-light-300;
		}

		.progress-widget{

			p{
				color:@trans-light-500;
			}

			.progress{
			    box-shadow: none;
			    background-color: rgba(0,0,0,0.1);
			    border-radius: 0;

				.progress-bar{
					box-shadow: none;
					font-size: 0;
			    	line-height: 4px;	
				}
			}
		}

		.btn{
			cursor: pointer;
			border: 1px solid @trans;
			border-radius: 0;
			font-size: 12px;
			line-height: 1.42857;
			vertical-align: middle;
		}
	}
}







/*============================

	THEME - CONTENT 

  ============================*/
.content-wrapper{	
	background:#f2f3f8;
	.transition;
	overflow:hidden;
}


/*navbar*/
.header{
	
	background:@main-nav-bg;
	box-shadow: 0px 1px 15px 1px rgba(69,65,78,.01);
	border-right:4px solid @skyblue;

	.action-menu{

		span,a{
			text-decoration:none;
			.transition;
			cursor:pointer;

			i{
				color:@main-nav-icon-inactive-color;
				font-size:14px;
			}

		}

		.special-icon{
			.transition;
			cursor:pointer;				
			border-top:2px solid @trans;

			i{					
				font-size:16px;
			}

			&:hover{				
				background:@trans-dark-20;
				.transition;
			}

			&:active{
				color:@trans;
			}
		}
	}	

	.main-menu-title{
		.text-capitalize;
		.text-bold;
		color:@lighter-gray;			
		font-size:1.2em;
		line-height: 2em;		
		letter-spacing:0em;
		border-left: 1px solid rgba(0,0,0,.1);
		

		p{
			.mar-no;
			.pad-no;
		}
	}

	/*user icon in main nav*/
	.user-menu{

		li{
			list-style-type:none;
			cursor:pointer;
			.transition;

			&:hover{
				background:@trans-dark-20;
			}

			&:active{
				opacity:0;
			}

			span{

				img{
				    box-shadow: 0 0 0 2px @trans-dark-100;				
				}
				img.lang-flag{
					box-shadow: none;
					
				}
				
			}

			div{
			    white-space: nowrap;
			    line-height: 50px;
			    color: @lighter-gray;
			}

			p{
				color:@light-gray;
				text-align:center;

				i{
		
					font-size:1em;

				}
			}

		}
	}
}


/*content aside*/
.content-aside{
	.transition;
	background-color: @light;
	color: @dark-gray;	
}

/*the content area*/
.dynamic-content{
	color:@trans-dark-500;
	.transition;
	overflow:hidden;

	.page-content{
		
		.page-content-header{


		    position: relative;
		    width: 100%;
		    padding: 5px 25px 5px;
		    height:75px;
		    /*background-color: #f6f8f8;
		    /*border-bottom: 1px solid #dee5e7;*/


			.page-title {

			    display: table;
			    table-layout: fixed;

			    .page-header{
					color: #7c7c7c;
					    	
			    }

			    .page-header, .searchbox {
			        display: table-cell;
			        vertical-align: middle;
			    }

			    .page-header {
			        border: 0 none;
			        text-transform: uppercase;
					font-size: 16px;
					color: #616060;
					letter-spacing: 1px;
					font-weight: normal;
			    }

			    .search-filter {

			        .custom-search-form{

			            input {
			                border-radius: 0;
			                border-color: @trans;
			                background-color: @trans;
			                font-size: 12px;
			                box-shadow: none;

			                &:focus {
			                    background-color: @light;
			                    border-color:@baby-blue;
			                    box-shadow: none;
			                    .transition;

			                }                
			            } 

			            .input-group-btn{

			                button{
			                    border: 0;
			                    background: none;
			                    font-size: 14px;
			                }
			            }


			        }       

			    }
			}

			.breadcrumb {
			    border-radius: 0;
			    background-color: @trans;

			    li,li a {
			        font-size: .85em;
				    color: #9e9e9e;
			    }
			    li+li:before {
			        content: "\f105";
			        display: inline-block;
			        font-family: FontAwesome;
			        .text-bold;
			        line-height: 1;
			    }
			}
		}

		.page-content-body{

		    /*border:1px solid rgba(171, 168, 168, 0.07);*/			
		}
	}

	.right-sidebar{
	    background: #2c2e3e;
	    background-color:white;
	    background-color:#1c2b36;	
	   	
	}
}

.right-side-bar{
	.transition;
	/*background-color: @old-navy-lighter;*/
	background-color:#2c2e3e;
}


::-webkit-scrollbar {
    width:15px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0);
}
 
::-webkit-scrollbar-thumb {
    background-color: #2f4050;
    border: 5px solid transparent;
    border-radius: 0px;
    background-clip: content-box;
}  


