
/*============================

	THEME - COLORS

  ============================*/

/*--left sidenav--*/
@dhl-red:#cc0000;
@dhl-yellow:#ffcc00;
@logo-bg:@dhl-yellow;/*DHL YELLOW*/ 

@links-bg:#262c34;
@list-header-color: @trans-light-500;
@menu-item-inactive-color:@trans-light-500;
@menu-item-active-color:@light;
@menu-item-hover-color:@dark-gray;
@menu-item-active-bg-color:@trans-dark-100;
@left-sidebar-stats-color:@trans-dark-100;


/*--navbar--*/
@main-nav-icon-color:@dark-gray;
@main-nav-icon-inactive-color:@dark-gray;
@main-nav-hover-color:@dark-gray;
@main-nav-bg:@light;


/*--content area--*/
@content-area-bg:@light;


.highlight{
	box-shadow: inset 4px 0 0 0 @dhl-red;
}

hr {
    border-color: @trans-dark;
}




/*============================

	THEME - FONT

  ============================*/
// @font-face {
//   font-family: 'Frutiger';
//   src: url('./fonts/ftl.ttf') format('truetype');
//   font-style:normal;
//   font-weight:normal;
// }

// @font-face {
//   font-family: 'Frutiger';
//   src: url('./fonts/ftli.ttf') format('truetype');
//   font-style:italic;
//   font-weight:normal;
// }

// @font-face {
//   font-family: 'Frutiger';
//   src: url('./fonts/ftb.ttf') format('truetype');
//   font-style:normal;
//   font-weight:bold;
// }

// @font-face {
//   font-family: 'Frutiger';
//   src: url('./fonts/ftbi.ttf') format('truetype');
//   font-style:italic;
//   font-weight:bold;
// }

.global-font-style{	
	font-size:12px;
	font-weight:normal;
	letter-spacing:0px;
}

body,
html,
.app-wrapper{
	.global-font-style;
}




/*============================

	THEME - TRANSITION

  ============================*/

.transition, *{
	transition:all 150ms ease-out;
}




/*============================

	THEME - BOX MODEL

  ============================*/

* :not(tspan){	
	box-sizing:border-box;
	font-family:'Frutiger';
    font-size: 12px;

}




/*============================

	THEME - ICON SIZES

  ============================*/
@default-icon-size:16px;
@main-nav-default-icon-size:20px;




/*============================

	THEME - BODY

  ============================*/

body{
	background: #f0f0f0;                                        
}



/*============================

	THEME - LEFT SIDE NAV

  ============================*/
.left-sidebar{
	
	.transition;
	background:@links-bg;

 	.logo{
		background:@logo-bg;

		i{
			color:@light;
			font-size:2em;			
		}
	}

	.left-sidebar-toolbar{
		background:#ffcc00;

		span{
			cursor:pointer;
			.transition;

			i{
				color:@light;
				font-size:16px;
			}

			&:hover{
				i{
					font-size:18px;
				}
			}			
		}
	}
	
	.links{
		margin-top:40px;
		

		.sidebar-menu-wrapper{
			li{
					list-style-type: none;
					cursor:pointer;

					/*this is the item containing the menu name*/
					.menu-item{
						color:@menu-item-inactive-color;
						font-weight:bold;
						font-size: 1em;
					    letter-spacing: 0.02em;
					    font-family: 'Frutiger',sans-serif;
						.text-normal;
						.text-capitalize;
						text-decoration:none;

						i{
							font-size:@default-icon-size;
							.transition;

							&:hover{
								color:@menu-item-active-color;
							}
						}

						.menu-title{
							font-weight:normal;

							&:hover{
								color:@light;
							}
						}

						&:hover{
								color:@light;
						}
					}

					/*menu active class*/
					.active{
						color:@light;
						.highlight;
						font-weight:bold;				
					}
			}

			/*default list header*/
			.list-header{
				.transition;
				font-size:11px;
				.text-capitalize;
				color:@list-header-color;
			}

			/*default list divider*/
			.list-divider{
				.transition;
				border-bottom:1px solid @trans;
			}
		}
	}

	.left-sidebar-stats{
		list-style-type: none;
		cursor:pointer;
		background:	@left-sidebar-stats-color;

		.list-header{
			.transition;
			.text-normal;
			.text-capitalize;
			color:@trans-light-300;
		}

		.progress-widget{

			p{
				color:@trans-light-500;
			}

			.progress{
			    box-shadow: none;
			    background-color: rgba(0,0,0,0.1);
			    border-radius: 0;

				.progress-bar{
					box-shadow: none;
					font-size: 0;
			    	line-height: 4px;	
				}
			}
		}

		.btn{
			cursor: pointer;
			border: 1px solid @trans;
			border-radius: 0;
			font-size: 12px;
			line-height: 1.42857;
			vertical-align: middle;
		}
	}
}




/*============================

	THEME - CONTENT 

  ============================*/
.content-wrapper{	
	background:#ecf0f5;
	.transition;
	overflow:hidden;
}


/*navbar*/
.header{
	
	background:@main-nav-bg;
	box-shadow: 0 2px 0 -1px @trans-dark;
	border-right:4px solid @dhl-yellow;

	.action-menu{

		span,a{
			text-decoration:none;
			.transition;
			cursor:pointer;

			i{
				color:@main-nav-icon-inactive-color;
				font-size:16px;
			}

			&:hover{
				background:@trans-light-800;
				color:@main-nav-hover-color;
			}

			&:active{
				background:@trans-light;
				color:@trans;
			}
		}

		.special-icon{
			.transition;
			cursor:pointer;				
			border-top:2px solid @trans;

			i{					
				font-size:16px;
			}

			&:hover{				
				background:@trans-dark-20;
				.transition;
			}

			&:active{
				color:@trans;
			}
		}
	}	

	.main-menu-title{
		.text-capitalize;
		.text-thin;
		font-family:'Frutiger';
		color:@lighter-gray;			
		font-size:1.2em;
		line-height: 2em;		
		letter-spacing:0em;
		border-left: 1px solid rgba(0,0,0,.1);

		p{
			.mar-no;
			.pad-no;
		}
	}

	/*user icon in main nav*/
	.user-menu{

		li{
			list-style-type:none;
			cursor:pointer;
			.transition;

			&:hover{
				background:@trans-dark-20;
			}

			&:active{
				opacity:0;
			}

			span{

				img{
				    box-shadow: 0 0 0 2px @trans-dark-100;				
				}
				img.lang-flag{
					box-shadow: none;
					
				}
				
			}

			div{
			    white-space: nowrap;
			    line-height: 50px;
			    color: @lighter-gray;
			}

			p{
				color:@light-gray;
				text-align:center;

				i{
		
					font-size:1em;

				}
			}

		}
	}

}

/*content aside*/
.content-aside{
	.transition;
	background-color: @light;
	color: @dark-gray;	
}

/*the content area*/
.content-area{
	color:@trans-dark-500;
	.transition;
	overflow:hidden;

	.page-title {

	    display: table;
	    table-layout: fixed;

	    .page-header, .searchbox {
	        display: table-cell;
	        vertical-align: middle;
	    }

	    .page-header {
	        border: 0 none;
	        color: inherit;
	        font-size: 2.2em;
	        font-weight: normal;
	    }

	    .searchbox {

	        .custom-search-form{

	            input {
	                border-radius: 0;
	                border-color: @trans;
	                background-color: @trans;
	                font-size: 12px;
	                box-shadow: none;

	                &:focus {
	                    background-color: @light;
	                    border-color:@baby-blue;
	                    box-shadow: none;
	                    .transition;

	                }                
	            } 

	            .input-group-btn{

	                button{
	                    border: 0;
	                    background: none;
	                    font-size: 14px;
	                }
	            }


	        }       

	    }
	}

	.breadcrumb {
	    border-radius: 0;
	    background-color: @trans;

	    li,li a {
	        font-size: .85em;
	        color:@light-gray;
	    }
	    li+li:before {
	        content: "\f105";
	        display: inline-block;
	        font-family: FontAwesome;
	        .text-bold;
	        line-height: 1;
	    }
	}
}

.right-side-bar{
	.transition;
	background-color: @old-navy-lighter;
}



